<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
    <title>Waaa</title>
</head>
<body>
    <div id="wrapper">
        <div class="spacer"></div>
        <div id="content">
            <header>
                <nav>
                    <h2>Waaa.com</h2>
                    <div id="aligner">
                    <ul>
                        
                        <li>Sign-up</li>
                        <li>Sign-in</li>
                         
                    </ul>
                    </div>
                    <form>
                        <label for="search">Search </label><input type="text" id="search">
                    </form>
                </nav>
            </header>
            <section id="reel">
                <div class="highlight">
                    <p>#EskomZA</p>
                    <p>"I can't feed my fourth baby because of..."</p>
                    <p><i>- @AngryMole</i></p>
                </div>
                <div class="highlight">
                    <p>#UkraineWar</p>
                    <p>"They bombed my generator! How could..."</p>
                    <p><i>- @MopingMyrtle</i></p>
                </div>
                <div class="highlight">
                    <p>#Walmart</p>
                    <p>"The customer service is horrific, I can't stand..."</p>
                    <p><i>- @EmpireBuyer</i></p>
                </div>
                <div class="highlight">
                    <p>#Inflation</p>
                    <p>"I feed my children dog food because things are..."</p>
                    <p><i>- @CheapJew</i></p>
                </div>
            </section>
            <section id="hot">
                <h1><img src="./resources/Images/Fire-png.png" id="hot-icon">Hot</h1>
                <div class="post">
                    <div class="post-text">
                        <h4>#EskomZA Posted by @ConstantProbs123</h4>
                        <p>
                            I am so angry today because I had to take a piss in the dark and I missed the toilet.
                            Then I forget to clean it and my wife sat on it and now she is pissed off with me because
                            bloody Eskom won't get their shit together.
                        </p>
                        <p>Waaa 3.7   Care 2.1   Fix 9.8</p>
                    </div>
                    <div class="rate">Rate</div>
                </div>
                <div class="post">
                    <div class="post-text">
                        <h4>#EskomZA Posted by @ConstantProbs123</h4>
                        <p>
                            I am so angry today because I had to take a piss in the dark and I missed the toilet.
                            Then I forget to clean it and my wife sat on it and now she is pissed off with me because
                            bloody Eskom won't get their shit together.
                        </p>
                        <p>Waaa 3.7   Care 2.1   Fix 9.8</p>
                    </div>
                    <div class="rate">Rate</div>
                </div>
                <div class="post">
                    <div class="post-text">
                        <h4>#EskomZA Posted by @ConstantProbs123</h4>
                        <p>
                            I am so angry today because I had to take a piss in the dark and I missed the toilet.
                            Then I forget to clean it and my wife sat on it and now she is pissed off with me because
                            bloody Eskom won't get their shit together.
                        </p>
                        <p>Waaa 3.7   Care 2.1   Fix 9.8</p>
                    </div>
                    <div class="rate">Rate</div>
                </div>
                
            </section>
        </div>
        <div class="spacer"></div>
    </div>

    <script src="./resources/main.js"></script>
</body>
</html>